@page
@using CommentManagement.Infrastructure.Configuration.Permission
@model ServiceHost.Areas.Administration.Pages.Comment.IndexModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت کامنت ها";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست کامنت ها</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>محصول</th>
                                    <th>نام</th>
                                    <th>ایمیل</th>
                                    <th>پیام</th>
                                    <th>تاریخ</th>
                                    <th>وضعیت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Comments)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.OwnerRecordId</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Message</td>
                                        <td>@item.CreationDate</td>

                                        <td>
                                            @if(item.IsCanceled)
                                            {
                                                <i class="fa fa-3x fa-close text-danger"></i>
                                                <span class="text-danger">رد شده</span>
                                            }
                                            @if(item.IsConfirmed && !item.IsCanceled)
                                            {
                                                <i class="fa fa-3x fa-check text-success"></i>
                                                <span class="text-success">تایید شده</span>
                                            }
                                            @if(!item.IsConfirmed && !item.IsCanceled)
                                            {
                                                <i class="fa fa-3x fa-solid fa-hourglass-start text-warning"></i>
                                                <span class="text-warning">در انتظار</span>
                                            }
                                        </td>
                                        <td>

                                            @if (!item.IsConfirmed && !item.IsCanceled)
                                            {
                                                <a permission="@CommentPermissions.Confirm" class="btn btn-success pull-right m-rl-5" asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Confirm">تایید</a>
                                                <a permission="@CommentPermissions.Cancel" class="btn btn-danger pull-right m-rl-5" asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Cancel">کنسل</a>
                                            }
                                            @if(item.IsCanceled)
                                            {
                                                <a permission="@CommentPermissions.Confirm" class="btn btn-success pull-right m-rl-5" asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Confirm">تایید</a>
                                            }
                                            @if(item.IsConfirmed && !item.IsCanceled)
                                            {
                                                <a permission="@CommentPermissions.Cancel" class="btn btn-danger pull-right m-rl-5" asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Cancel">کنسل</a>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}
